@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
    font-family: Raleway, sans-serif;
    background-color: #f5f5f5;
}

.custom-btn-check {
    width: 35px;
    height: 35px;
    background: url('../assets/check-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.custom-btn-check:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.custom-btn-edit {
    width: 40px;
    height: 40px;
    background: url('../assets/edit-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.custom-btn-edit:hover {
    background: url('../assets/edit-solid.svg');
    background-size: contain;
}

.custom-btn-delete {
    width: 30px;
    height: 30px;
    background: url('../assets/trash-outline.svg');
    background-repeat: no-repeat;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.custom-btn-delete:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
    background-repeat: no-repeat;

}